<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    HELLO!

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div> 
           <label>Upload your receipt:</label> <input type="file" name="image" />
        </div>
        <div> 
            <input type="submit" name="btn_upload_receipt_pic" value="Upload" /> 
        </div>
        </form>
     
</body>
</html>